bin/
gen/
.settings/
.classpath
/nbandroid/
build.xml
local.properties
private/
/geoquiz/nbandroid/
/CriminalIntent/nbandroid/
nbandroid/
bin/
gen/
.settings/
.classpath
/nbandroid/
local.properties
private/
.project
/GeneradorDeModelos/build/
.idea/
*.iml
.gradle/
build/
